
.Card{
    border: 1px solid red;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#logo{
    width: 8rem;
    height: 8rem;
}

#typeDiv{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.type{
    width: 100%;
}

#id{
    text-align: center;
    border: none;
    background-color: transparent;
}

.grass {
    background-color: var(--grass);
}
.poison {
    background-color: var(--poison);
}
.fire {
    background-color: var(--fire)
}
.normal{
    background-color: var(--normal);
}
.fighting{
    background-color: var(--fighting);
}
.flying{
    background-color: var(--flying);
}
.ground{
    background-color: var(--ground);
}
.rock{
    background-color: var(--rock);
}
.bug{
    background-color: var(--bug);
}
.ghost{
    background-color: var(--ghost);
}
.steel{
    background-color: var(--steel);
}
.water{
    background-color: var(--water);
}
.electric{
    background-color: var(--electric);
}
.psychic{
    background-color: var(--psychic);
}
.ice{
    background-color: var(--ice);
}
.dragon{
    background-color: var(--dragon);
}
.dark{
    background-color: var(--dark);
}
.fairy{
    background-color: var(--fairy);
}