.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    background-color: #0f0f0fbd;
    color: white;
}

.header img {
    width: 5rem;
}

.searchBar {
    display: flex;
    gap: 1rem;
    align-items: center;

    margin: 1rem 2rem 1rem 2rem;

    background-color: rgba(255, 255, 255, 0.733);
    border: 1px solid #0f0f0f49;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: .5rem;
    
}

.searchBar input {
    background-color: rgba(255, 255, 255, 0.733);
    outline: none;
    border: none;
    width: 90%;
    color: #0f0f0fab;
    font-weight: 500;
    font-size: 1.1rem;
}

.typeCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;



    margin: 2rem 3rem;
}

.typeCard {
    min-width: 5rem;

    color: #f3f3f3;
    text-align: center;
    font-size: .7rem;
    text-transform: uppercase;
    display: inline-block;
    padding: .4rem;
    
    border-radius: 1rem;
}